---
layout: default
---
{% capture foo %}{{ site.baseurl }}/assets/{{page.datasource}}{% endcapture %}

<section class="section">
    <div class="container">
        <h1>Table for {{ foo }}</h1>
        <p>Table for {{ foo }}</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Language_area</th>
                    <th>Journal</th>
                </tr>
            </thead>
            <tbody>
                {% for row in site.data.small %}
                <tr>
                    <td>{{ row.Language_area}}</td>
                    <td>{{ row.Journal }}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
<section class="section">
    <div id="table"></div>
  <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
  <script>
   new gridjs.Grid({
       columns: [
           {id: 'Language_area', name: 'Lang Area'},
           {id: 'Journal', name: 'Journal'},
           {id: 'Year', name: 'PubDate'},
           {id: 'Vol', name: 'Vol'},
           {id: 'No', name: 'No'},
           {id: 'Listed_Translator', name: 'Listed Translator'},
           {id: 'Author', name: 'Author'},
           {id: 'Title', name: 'Title'},
           {id: 'Genre', name: 'Genre'},
           {id: 'SL', name: 'SL'},
           {id: 'TL', name: 'TL'},
       ],
       data: [
           {% for member in site.data.translations %}
           {
               Language_area: "{{ member.Language_area}}",
               Journal: "{{ member.Journal }}",
               Year: "{{ member.Year }}",
               Vol: "{{ member.Vol }}",
               No: "{{ member.No }}",
               Listed_Translator: "{{ member.Listed_Translator }}",
               Author: "{{ member.Author }}",
               Title: "{{ member.Title }}",
               Genre: "{{ member.Genre }}",
               SL: "{{ member.SL }}",
               TL: "{{ member.TL }}",
           },
           {% endfor %}
       ],
       search: {
           selector: (cell, rowIndex, cellIndex) => [0, 1, 4].includes(cellIndex) ? cell : null,
       },
       sort: true,
       pagination: {
           enabled: true,
           limit: 20,
       },
   }).render(document.getElementById('table'));
  </script>

</section>

<div class="content">
    {{ content }}
</div>
