---
layout: default
---

  <header>
    <h1>{{ page.title | escape }}</h1>
  </header>
  {{ content }}
  <div id="table"></div>
  <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
  <script>
   new gridjs.Grid({
       columns: [
           {id: 'Language_area', name: 'Lang Area'},
           {id: 'Surname_Name', name: 'SurName_Name'},
           {id: 'Pseudonyms', name: 'Pseudonyms'},
           {id: 'Year_Birth', name: 'Year_Birth'},
           {id: 'Year_Death', name: 'Year_Death'},
           {id: 'Nationality', name: 'Nationality'},
           {id: 'Gender', name: 'Gender'},
           {id: 'Journals', name: 'Journals'},

       ],
       data: [
           {% for member in site.data.translators %}
           {
               Language_area: "{{ member.Language_area}}",
               Surname_Name: "{{ member.Surname_Name }}",
               Pseudonyms: "{{ member.Pseudonyms }}",
               Year_Birth: "{{ member.Year_Birth }}",
               Year_Death: "{{ member.Year_Death }}",
               Nationality: "{{ member.Nationality }}",
               Gender: "{{ member.Gender }}",
               Journals: "{{ member.Journals }}",
           },
           {% endfor %}
       ],
       search: {
           selector: (cell, rowIndex, cellIndex) => [0, 1, 4].includes(cellIndex) ? cell : null,
       },
       sort: true,
       pagination: {
           enabled: true,
           limit: 20,
       },
   }).render(document.getElementById('table'));
  </script>
